@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}
body {
    max-width: 1600px;

}  
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: #131313;
    font-family: Work Sans;
    font-size: 2.8rem;
    font-weight: 700;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    color: #727272;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    border: none;
    padding: 20px 25px;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
}
.banner > img{
    width: 100%;
    margin-top: 20px;
}
/* Mobile */
@media screen and (max-width:576px){
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
}
/* Tablet */
@media screen and (min-width:576px) and (max-width:992px){
    header{
        padding: 30px;
    }
    nav{
        flex-direction: column;
    }
}

main{
    max-width: 950px;
    margin: 0 auto;
}
/* Section 1 Style */   
.section1{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.section1-image{
    border-radius: 8px;
    background-color: lightgray -85.564px 0px / 150.038% 100% no-repeat;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.section1-image img{
    width: 230px;
    height: 230px;

}
.section1-content{
    padding-left: 55px;
}
.section1-title{
    color: #727272;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 500;
    width: 468px;
}
.section1-description{
    color: #727272;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}